<ul>
    <% zombie.forEach(item => { %>
        <li class="sidebar_category">
            <h2>
                <strong class="category_title"><%= item.title%></strong>
            </h2>
            <ul class="sidebar_subcategory">
                <% item.items.forEach(sub => { %>
                    <li class="subcategory_item">
                        <a href="<%= sub.link %>" title="<%= sub.link %>" class="subcategory_title">
                            <%= sub.name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </li>
    <% }) %>
</u>