
.profile_img {
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0 0 15px white, 0 0 15px white, 0 0 15px white, 0 0 15px white, 0 0 15px white, 0 0 15px white;
    /* margin: 10px; */
    margin-left: 20px;
    margin-top: 20px;
    /* padding-right: 20px; */
}

.profile_section {
    padding: 10px;
    padding-right: 45px;
    background-color: rgba(54,54,54,1);
}

.profile_label, .password_label {
    width: 120px;
    color: orange;
}

.profile_span {
    color: white;
    font-weight: bold;
}

.profile_p_section, .password_p_section {
    padding: 20px;
}

.profile_p_section input, .password_p_section input {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

#profile_a {
    display: flex;
    flex-direction: row;
}

#header_profile_img {
    padding-left: 10px;
    width: 50px;
    border-radius: 15px;
}

.profile_heading, .password_heading {
    color: white;
    font-weight: bold;
}

.password_section, .theme_section {
    background-color: rgba(34,34,34,1);
}

.theme_div {
    padding: 15px;
}

.profile_div, .password_div, .theme_div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.theme_heading {
    color: white;
    font-weight: bold;
}

.profile_wrench {
    border: 2px solid rgba(114,114,114,1);
    background-color: rgb(29, 238, 238);
    height: 150%;
    border-radius: 10px;
    color: black;
    padding: 10px;
    font-weight: bold;
}

.profile_img_label {
    margin-top: 30px;
    color: orange;
}

.profile_wrench span {
    color: white;
    font-weight: bold;
}

.profile_ok, .password_ok {
    border: 2px solid rgba(114,114,114,1);
    background-color: green;
    height: 150%;
    border-radius: 10px;
    color: black;
    padding: 10px;
    font-weight: bold;
}

.profile_ok span {
    color: white;
    font-weight: bold;
}

.profile_delete span {
    color: white;
    font-weight: bold;
}
.profile_delete {
    border: 2px solid rgba(114,114,114,1);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: #FF0000;
}

.social_div label, .social_div p, .social_div span, .social_div h2 {
    color: white;
    font-weight: bold;
}

.social_div {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
}

/* 
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////// PROFILE HEADER ///////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
 */
 
.operation_brand {
    color: white;
    margin-left: 30px;
    font-weight: bold;
}

#operations_burger_btn {
    margin-right: 40px;
    border: 1px solid black;
}

#operations_burger_btn span {
    background-color: white;
}

.operations_list a {
    color: white;
    font-weight: bold;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:focus {
    background-color: black;
}
.operations_list a:active {
    background-color: black;
}
.nav > li > a {
    padding-left: 50px;
}
.operations_list li {
    color: white;
    font-weight: bold;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: rgba(34,34,34,1);
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: rgba(34,34,34,1);
}
.nav > li > a:focus, .nav > li > a:focus {
    background-color: rgba(34,34,34,1);
}