<div>
            <h2>
                <i class="fa fa-wrench" aria-hidden="true"></i>
                    Gear    
                <i class="fa fa-fire" aria-hidden="true"></i>
            </h2>
            <table class="equipment_table">
                <thead>
                    <tr>
                        <th>
                            Picture
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div class="offset">
                                <img src="../images/rope.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Rope</td>
                        <td class="small_font">
                            A rope can be extremely useful in a large variety
                             of situations. Whether one needs to climb up or down,
                            over or under something, just needs to tie something together 
                            or pull something, ropes are a essential item on your list.
                        </td>
                    </tr>
                   <tr>
                        <td>
                            <div  class="offset">
                            <img src="../images/pocket%20knife.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Pocket knife</td>
                        <td class="small_font">
                            Being on the move all the time, with limited ressources, means one is going to have to 
                            improvise quite a bit. Whether it's cutting something, opening a can, being in need of a screwdriver 
                            or whatever else, you're going to have quite a lot of use for a pocket knife. 
                            Just like rope it's going to be almost indispensable. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img src="../images/canteen.jpg"  width="50"/>
                            </div>
                        </td>
                        <td>Canteen</td>
                        <td class="small_font">
                            One never knows how frequent one will have access to drinkable water, so having a way to carry water as well as rationing 
                            it is vital to surviving. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset"  src="../images/sleeping-bag-48.png" width="50" />
                            </div>
                        </td>
                        <td>Sleeping bag</td>
                        <td class="small_font">
                            I wont bother writing too much here, as i doubt fairly seriously that anyone needs any real explanation as to the 
                            benefits of a sleeping bag. I'll only advice to look for one as compact and simultaneously as warm as possible, as 
                            you won't have too much space on you to carry it, but at the same time the nights are likely to be cold. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset"  src="../images/sleepin-mat-48.png" />
                            </div>
                        </td>
                        <td>Sleeping pad</td>
                        <td class="small_font">
                            Sleeping mats need even less explaining, their entire purpose is for one to lie on them and being just a little bit more comfortable. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset"  src="../images/77371-200.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Backpack</td>
                        <td class="small_font">
                            I advice everyone to get a larger backpack, with lots of space for all the stuff you're going to be wanting to carry around. It should 
                            be just about as big as possible while still being comfortable to carry around all day. I would recommend something inbetween a standard 
                            military backpack and a regular backpacking backpack. Also, the more possibilities it has for strapping stuff on the outside, e.g. ones
                            sleeping pad, bag and cooking equipment, the better. 
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-compass" aria-hidden="true"></i></td>
                        <td>Compass</td>
                        <td class="small_font">
                            Every kind of electronics is going to be running out of power fairly quickly, so that won't be 
                            of much use - be it a cell-phone, a walk-man or whatever. Of cause, one can use the sun and the 
                            stars to poinpoint locations and directions, but in my opinion it really wouldn't hurt to have a 
                            compass. It takes up virtually no space and has the potential to be incredibly useful. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset"  src="../images/matches-48.jpg" />
                            </div>        
                        </td>
                        <td>Fire Starter/Zippo</td>
                        <td class="small_font">
                            I don't really think i need to stress the importance of being able to create fire, be it for the 
                            benefits of light, heat or being able to prepare food - not to mention all kinds of other uses. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset"  src="../images/hex-burner-48.jpg" />
                            </div>
                        </td>
                        <td>Cooking Equipment</td>
                        <td class="small_font">
                            As well as being fairly useful when preparing meals, it provides the illusion of some 
                            civilization being preserved. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img src="../images/torch.jpg" width="50"/>
                            </div>        
                        </td>
                        <td>FLashlight</td>
                        <td class="small_font">
                            Given the lack of electricity, it's going to be quite dark quite a large amount of the time. 
                            That makes lightsources incredibly valuable - and do remember to collect batteries whenever 
                            possible, you never know. Plus, again, they take up virtually 0 space. 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
                <h2>
                    <i class="fa fa-suitcase" aria-hidden="true"> 
                    </i>
                    Clothes
            </h2>
            <table class="equipment_table">
                <thead>
                    <tr>
                        <th>
                            Picture
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div class="offset">
                                <img src="../images/camo%20jacket.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Jacket</td>
                        <td class="small_font">
                            The choice of clothes might be more important than one might think. They need to be warm, 
                            comfortable, as light as possible, as water-resistant and quick-drying as possible, be as 
                            tough as possible in case zombies attack you as well as preferably be dark or even having a 
                            camouflage pattern. The more of those attributes it possesses, the longer you'll be out and 
                            about.
                        </td>
                    </tr>
                   <tr>
                        <td>
                            <div class="offset">
                                <img src="../images/camo-pants.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Trousers</td>
                        <td class="small_font">
                            Basically all the same things that apply to jackets also apply to pants - they should be able
                            to handle both wind, wheather, zombies and everything else that might come up in this context. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img src="../images/boots.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Boots</td>
                        <td class="small_font">
                            The choice of footwear is probably far more important than most people realize. I strongly advice 
                            against any kind of sneakers, trainers and the likes - they are going to be falling apart very quickly, 
                            as they aren't suited for prolonged outdoor terrain use, and they wont provide you with any help. 
                            Boots, in comparison, will provide secure footing, about the best possible foot-climate possible under
                            the circumstances, they are usually pretty water-resistant and also zombies wont as easily bite through them. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset" src="../images/protection-gloves.png" width="50"/>
                            </div>
                        </td>
                        <td>Protective gloves</td>
                        <td class="small_font">
                            Dealing with zombies, ones hands are extremely exposed to being bitten, or just to blood-spatter. 
                            Because of this, i advice everyone to aquire protective gloves, both against the cold, bites and blood. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset" src="../images/police-vest.png" width="50"/>
                            </div>
                        </td>
                        <td>Protective vest</td>
                        <td class="small_font">
                            For one thing zombies will have a tougher time biting you, but also, should you run into other
                            survivors - for the purpose of this example, hostile ones - your chances to come out on top and 
                            victoriously walk away are much bigger than without. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset" src="../images/shoulder-pad.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Protective pads</td>
                        <td class="small_font">
                            Zombies love to bite you in your shoulders, neck and the like, everything that's about the same 
                            height as they are. The more armor you got around there, the better. 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
         
        <div>
            <h2>
                <i class="fa fa-medkit" aria-hidden="true"></i>
                   First-aid-kit
            </h2>
            <table class="equipment_table">
                <thead>
                    <tr>
                        <th>
                            Picture
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <i class="fa fa-medkit" aria-hidden="true"> </i></td>
                        <td>First-aid-kit</td>
                        <td class="small_font">
                            I don't know whether listing an actual medkit at this point is just nothing but redundant, as
                            a medkits content is more or less comprised of the following number of items anyway. In any case, 
                            without one, you won't make it for very long out there. You get sick, you get slow, you get un-dead. 
                        </td>
                    </tr>
                   <tr>
                       <td>
                            <div class="offset">
                                <img class="inset" src="../images/500px-Blue_pill_container_spilled_icon.svg.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Aspirin</td>
                        <td class="small_font">
                            While weak, simple painkillers aren't really vitally important, they are extremely nice to have. 
                            Especially considering the various causes of headaches and the like that one is bound to encounter
                            in a world like this. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset"  src="../images/500px-Blue_pill_container_spilled_icon.svg.jpg" width="50"/>
                            </div>
                        </td>
                        <td>penicilin</td>
                        <td class="small_font">
                            It might not cure you, if you get bitten, but in case you're running a fever or otherwise get sick, 
                            you're going to be dependent on either medicine or luck. And personally, i'd rather go with medicine 
                            on this one. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset"  src="../images/band-aid.png" width="50"/>
                            </div>
                        </td>
                        <td>Bandages</td>
                        <td class="small_font">
                            Band-aids, or just bandages in general, might be fairly limited, but are going to eventually
                            be extremely convenient. Also, they can be improvised by ripping up old clothes. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset"  src="../images/scissors.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Sciccors</td>
                        <td class="small_font">
                            I think this one really doesn't require any further explanation. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img src="../images/morphine.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Morphine</td>
                        <td class="small_font">
                            If you break or leg, need to amputate something, or find yourself in a similar situation
                            where strong painkillers are needed, then morphine is probably the gold standard. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img src="../images/desinfection.jpg" width="50"/>
                            </div>    
                        </td>
                        <td>Desinfectant</td>
                        <td class="small_font">
                            Whether it can stop a bite depends on the kind and strength of the individual desinfectant, but
                            if it's "just" a normal wound which, say, causes concern for good old basic blood poisoning, jsut
                            about any desinfectant is going to come in extremely handy. Not to mention how extremely bad hygiene 
                            is going to be, which makes it extremely valuable all by itself. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="offset">
                                <img class="inset"  src="../images/Blood_donation_pictogram.svg.jpg" width="50"/>
                            </div>
                        </td>
                        <td>Materials for <br />building field-drops <br />in order to do <br />blood transfusions</td>
                        <td class="small_font">
                            This is probably the most luxurious item on the entire page, but if you can get your hands on 
                            some, go for it. Whether someone got poisoned, lost too much blood or you're trying to wash out infectious 
                            zombie blood before it can take effect, having this kind of equipment puts you in a huge 
                            advantage. 
                        </td>
                    </tr>
                </tbody>
            </table>
</div>

_id
:
5bbe6b9b7bf0dd5178b479a7
name
:
"Clothes"
name
:
"Gear"
_id
:
5bbe6bd36fb29151783aa54e
First-Aid
:
"Clothes"
_id
:
5bbe6bde6fb29151783aa54f
Various
:
"Clothes"
_id
:
5bbe6be86fb29151783aa550