<!DOCTYPE html>
<html>
<% include ../partials/head %>
    <body>
        <% include ../partials/header %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <% include ../partials/locals_errors %>
                    <% include ../partials/form_errors %>
                </div>
                <h2 class="page-header">Dashboard</h2>
                <p>Welcome to your dashboard</p>
            </div>
        </div>
        <!-- /container -->
        <% include ../partials/footer %>
    </body>
</html>